[Unit]
Description=Ruby app service
After=network.target

[Service]
Type=simple
User=vagrant
WorkingDirectory=/home/vagrant/apps/ruby-app
#This is ugly. Sorry
ExecStart=/bin/bash -lc 'RAILS_ENV=production DB_USER=vagrant DB_PASSWORD=69420 DB_NAME=yourbasebelongstous bundle exec rake db:migrate && RAILS_ENV=production DB_USER=vagrant DB_PASSWORD=69420 DB_NAME=yourbasebelongstous bundle exec puma -b unix:/var/run/puma.sock -e $RAILS_ENV config.ru'

#These do not work. To investigate later
#ExecStart="/usr/bin/bundle exec rake db:migrate && bundle exec puma -b unix:/var/run/puma.sock -e $RAILS_ENV config.ru"
#Environment=SECRET_KEY_BASE=lolok
#Environment=RAILS_ENV=production
#Environment=RAILS_LOG_TO_STDOUT=1
#Environment=DB_HOST=127.0.0.1
#Environment=DB_PORT=5432
#Environment=DB_NAME=yourbasebelongstous
#Environment=DB_USER=vagrant
#Environment=DB_PASSWORD=69420
#PassEnvironment=RAILS_ENV RAILS_LOG_TO_STDOUT DB_USER DB_PASSWORD DB_NAME

[Install]
WantedBy=multi-user.target
